[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pep8 = "*"

[packages]
flask-restful = "*"
sqlalchemy = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask = "*"
psycopg2-binary = "*"
r = "*"
requests = "==2.7.0"

[requires]
python_version = "3.6"
